<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stxx.wyhvisitorandroid">
    <!-- 读写内存卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.stxx.wyhvisitorandroid.base.MyApplication"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:icon, android:theme,android:allowBackup">
        <activity
            android:name=".view.splash.PreviewWindow"
            android:theme="@style/AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.splash.SplashActivity" />
        <activity
            android:name=".view.splash.MultiFragments"
            android:launchMode="singleTop" />
        <activity android:name=".view.splash.GuideActivity" />
        <activity android:name=".view.login.ForgetPasswordActivity" />
        <activity android:name=".view.login.RegisterActivity" />
        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity" />

        <activity android:name=".view.splash.MainActivity" />
        <!-- 适配华为刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米刘海屏 -->
        <!-- <activity
             android:name=".view.ar.ArUnityActivity"
             android:process=":neobearAR" />-->
        <activity android:name=".view.ar.WNaviGuideActivity" />
        <activity
            android:name=".view.login.LoginActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="19531893" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="yg57pRXqVKhQSCUFoS9ft08D" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="nUUGVMpCGlvHNTrvoV5yy8rjNHWuTONv" />
        <meta-data
            android:name="file_provider"
            android:value="${FILE_PROVIDER}" />

        <!--        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity" />-->


        <!-- 在AndroidManifest.xml中增加内核首次加载时优化Service声明；
        该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束 -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:exported="false"
            android:label="dexopt"
            android:process=":dexopt" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider> <!-- 百度 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="W4H20P7Bnk4YBT9s1rPSnERLaVgHyS75" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <service
            android:name=".service.PlaySoundService"
            android:exported="false" />
        <service
            android:name=".service.DownLoadAppService"
            android:exported="false" />


        <receiver
            android:name=".service.PushMessageReceive"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyPushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name=".view.splash.DisPlayActivity" />
        <activity android:name=".view.scenic.ArNavActivity" />
        <activity android:name=".view.scenic.ArNavActivity2" />


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>
</manifest>